@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.sidebar {
  width: 4  rem;
  height: 150vh;
  position:absolute;
  top: 10px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
  cursor: pointer;
  background: #e6d347;
  transition: 1s;
  overflow-y:scroll;
}

.sidebar:hover {
  width: 12rem;
}

.brand {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #000;
}

.brand:hover {
  background: #b5a73c;
}

.brand span {
  display: none;
}

.nav-list {
  list-style: none;
}

.nav-item {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:hover {
  background: #b5a73c;
}

.nav-item a {
  position: relative;
  white-space: nowrap;
  display: flex;
  gap: 1rem;
}

.nav-item__icon {
  position: relative;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item__text {
  position: relative;
  display: none;
  font-size: 1em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: justify;
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  font-weight: 700;
}

.logout {
  margin-left: 0.2rem;
}

.sidebar:hover .brand span {
  display: inline;  
}

.sidebar:hover .nav-item {
  justify-content: start;
}

.sidebar:hover .nav-item__text {
  display: flex;
  align-items: center;
}

.chart{
  width: 1200px;
  height: 600px;
  padding: 40px 40px 40px 40px;
  margin-left: 150px;
}

.fillerbtn {
  width: 70px;
  height:30px;
  background-color:#660000;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  
  margin-top: 20px;
}

.fillerbtn:hover {
  width: 70px;
  height: 30px;
  background-color:#F6DD26;
  border: none;
  border-radius: 5px;
  color: #020202;
  font-size: 16px;
  cursor: pointer;
  
  margin-top: 20px;
}



