

.messages {
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: #bbbbbb;
 
  border: 1px solid #b5b7b8;
  border-radius: 4px;
  text-align: center;
}

.messages li {
  margin-bottom: 5px;
}

.messages .error {

  color: #a21f1f;
  
  text-align: center;
 
}

.messages .success {
  
  color: #157f2d;
  text-align: center;
  
}


.messages .info {
  background-color: #cce5ff;
  color: #004085;
  border-color: #b8daff;
}

.messages .warning {
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
}




.msg {
  height: 30px;
  
  margin-left: 26%;
  max-width: 50%;
  align-items: center;
  justify-content: center;
   /* Add red border */
   /* Add yellow background */
  
 
  
}
  
  
  
  .msg {
    height: 30px;
    
    margin-left: 26%;
    max-width: 50%;
    align-items: center;
    justify-content: center;
     /* Add red border */
     /* Add yellow background */
    
   
    
    
   
    border-radius: 20px;
   margin-top: 100px;
   margin-bottom: -100px;
  }
  